body {
  overflow: hidden;
}

#preview,
#left-arrow,
#right-arrow {
  cursor: pointer;
}

.counter {
  font-family: "Roboto", serif;
  font-size: 11pt;
  font-size: 1.4vw;
}

.random,
.filterBy-reset {
  font-family: "Source Sans Pro", serif;
  font-weight: bold;
  font-size: 11pt;
  font-size: 1.3vw;
}

.random:hover,
.random:focus,
.filterBy-reset:hover,
.filterBy-reset:focus,
.toggle-buttons:hover > rect,
.toggle-buttons:focus > rect,
.title:hover,
.title:focus {
  fill: steelblue;
  cursor: pointer;
}

.button-text {
  cursor: pointer;
  font-family: "Source Sans Pro", serif;
  font-size: 10pt;
  font-size: 1vw;
}

.title,
.loading,
.filterBy-title {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 12pt;
  font-size: 1.3vw;
}

.artist-title,
.coll-title,
.movement-title,
.genre-title,
.material-title {
  font-family: "Source Sans Pro", serif;
  font-weight: bold;
  font-size: 11pt;
  font-size: 1.1vw;
}

.artist-info,
.coll-info,
.movement-info,
.genre-info,
.material-info,
.legend-text,
.filterBy-text,
.depicts-tooltip,
.map-tooltip {
  font-family: "Source Sans Pro", serif;
  font-size: 10pt;
  font-size: 1vw;
}

.depicts-words {
  font-family: "Source Sans Pro", serif;
}

.bubble-group:hover,
.bubble-group:focus {
  cursor: pointer;
}

.bubble-group:hover .group-outline,
.bubble-group:focus .group-outline {
  stroke: steelblue;
  stroke-width: 3px;
}

.axis-label {
  font-family: "Source Sans Pro", serif;
  font-weight: bold;
  font-size: 12pt;
  font-size: 1vw;
}

.y-axis text,
.x-axis text,
.bar-label {
  font-family: "Roboto", serif;
  font-size: 8pt;
  font-size: 0.8vw;
}

/**
 * CSS for modal showing pop-up of painting.
 * Modified from the source.
 * Source: https://www.w3schools.com/howto/howto_css_modals.asp 
 */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 2% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 90%; /* Could be more or less, depending on screen size */
}

.modal-content img {
  cursor: pointer;
}

.modal-info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.link {
  font-family: "Source Sans Pro", serif;
  color: #aaa;
  font-size: 18pt;
  font-size: 1.8vw;
}

.close {
  font-family: "Source Sans Pro", serif;
  color: #aaa;
  font-weight: bold;
  font-size: 28pt;
  font-size: 3vw;
}

.link:hover,
.link:focus,
.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}
